<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="MTAB - universal Appium native example" parallel="tests" verbose="1" configfailurepolicy="continue">

    <test name="Android">
        <classes>
            <class name="scenarios.CalcTest"></class>

        </classes>

    </test>

    <test name="iOS">
        <classes>
            <class name="scenarios.CalcTest"></class>

        </classes>

    </test>

</suite>