<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!--suite name="MTAB - universal Appium native example" parallel="tests" verbose="1" configfailurepolicy="continue"-->
<suite name="MTAB - universal Appium native example" verbose="1" configfailurepolicy="continue">

    <groups>
        <run>
            <include name="Android"/>
            <include name="iOS"/>
        </run>
    </groups>

    <test name="Android">
        <classes>
            <class name="scenarios.CalcTest"></class>
        </classes>

    </test>

    <test name="iOS">
        <classes>
            <class name="scenarios.CalcTest"></class>
        </classes>
    </test>

</suite>